MCQ's 

Ans 1: a,b,c

Ans 2: b

Ans 3: d

Ans 4: a

Ans 5: a, b

Ans 6: d

Ans 7: c

Ans 8: d

Ans 9: b

Ans 10: a, b, c

Ans 11: a, b, c, d

Ans 12: c

Ans 13: a

Ans 14: a, b, c, d

Ans 15: a

Ans 16: c

Ans 17: a

Ans 18: a

Ans 19: a, d

Ans 20: a, b, c

Ans 21: b

Ans 22: b

Ans 23: a

Ans 24: b, c

Ans 25: d

Ans 26: d

Ans 27: a

Ans 28: a

Ans 29: a, b

Ans 30: c

Scenario Based Questions:


Ans 1: First we will load the dataset into pandas dataframe, and if the values are missing from the numerical columns we can replace them with mean or median of the columns or if the values are missing from the categorical columns we can simply drop the rows that have missing values in categorical columns.

Ans 2: Churn prediction is a classification problem, we need to  predict where a customer leave ro not. there are several algorithms to use for this purpose, including 
i) Logistic REgression : Logistic Regression is a simple and interpretable algorithm that works well for binary classification problems like this churn prediction. It provides the probability of churn for each customer, making it easy to rank customers by their likelihood to churn or not. We can easily use it if the dataset is not too complex.

ii) Random Forest; it combines the multiple decision trees to increase predictive accuracy and reduce overfitting. we can use it when we have large datset of mix values(numeric & categorical).

iii) SVM :

Ans 3: We will use  To perform customer segmentation for the retail company, I will follow a data-driven approach. First,  I'd conduct EDA to understand the dataset and identify relevant features like purchase frequency, total spending, etcc. Then I will apply clustering techniques such as k-means to group customers based on their purchasing behavior. Once segments are defined, I'd profile each group to understand their unique characteristics. This analysis can help the company tailor marketing strategies, optimize product offerings, and personalize customer experiences.Ultimately, customer segmentation can enhance customer satisfaction, boost sales, and improve overall business profitability.


Ans 4: 'Label Encoding,' which assigns unique integers to categories; 'One-Hot Encoding,' which creates binary columns for each category; and 'Binary Encoding,' which balances dimensionality and ordinal information.

In [18]:
# for i in range(0, 5):
#     print(f"Ans {i+1}: ")

Ans 1:
Ans 2:
Ans 3:
Ans 4:
Ans 5:

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

In [3]:
df = pd.read_csv(r"D:\Python Projects\ML\COVID 19 Forcasting\train.csv")

C:\Users\skhan\AppData\Local\Temp\ipykernel_16556\3319147544.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"D:\Python Projects\ML\COVID 19 Forcasting\train.csv")

In [4]:
df

,Id,County,Province_State,Country_Region,Population,Weight,Date,Target,TargetValue
0,1,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-23,ConfirmedCases,0
1,2,NaN,NaN,Afghanistan,27657145,0.583587,2020-01-23,Fatalities,0
2,3,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-24,ConfirmedCases,0
3,4,NaN,NaN,Afghanistan,27657145,0.583587,2020-01-24,Fatalities,0
4,5,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-25,ConfirmedCases,0
...,...,...,...,...,...,...,...,...,...
969635,969636,NaN,NaN,Zimbabwe,14240168,0.607106,2020-06-08,Fatalities,0
969636,969637,NaN,NaN,Zimbabwe,14240168,0.060711,2020-06-09,ConfirmedCases,27
969637,969638,NaN,NaN,Zimbabwe,14240168,0.607106,2020-06-09,Fatalities,0
969638,969639,NaN,NaN,Zimbabwe,14240168,0.060711,2020-06-10,ConfirmedCases,6
969639,969640,NaN,NaN,Zimbabwe,14240168,0.607106,2020-06-10,Fatalities,0

In [5]:
df = df.drop(columns = ['County', 'Province_State'], axis=1)

In [6]:
df

,Id,Country_Region,Population,Weight,Date,Target,TargetValue
0,1,Afghanistan,27657145,0.058359,2020-01-23,ConfirmedCases,0
1,2,Afghanistan,27657145,0.583587,2020-01-23,Fatalities,0
2,3,Afghanistan,27657145,0.058359,2020-01-24,ConfirmedCases,0
3,4,Afghanistan,27657145,0.583587,2020-01-24,Fatalities,0
4,5,Afghanistan,27657145,0.058359,2020-01-25,ConfirmedCases,0
...,...,...,...,...,...,...,...
969635,969636,Zimbabwe,14240168,0.607106,2020-06-08,Fatalities,0
969636,969637,Zimbabwe,14240168,0.060711,2020-06-09,ConfirmedCases,27
969637,969638,Zimbabwe,14240168,0.607106,2020-06-09,Fatalities,0
969638,969639,Zimbabwe,14240168,0.060711,2020-06-10,ConfirmedCases,6
969639,969640,Zimbabwe,14240168,0.607106,2020-06-10,Fatalities,0

In [7]:
# df.isnull().sum()
df.isna().sum()

Id                0
Country_Region    0
Population        0
Weight            0
Date              0
Target            0
TargetValue       0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 969640 entries, 0 to 969639
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Id              969640 non-null  int64
 1   Country_Region  969640 non-null  object
 2   Population      969640 non-null  int64
 3   Weight          969640 non-null  float64
 4   Date            969640 non-null  object
 5   Target          969640 non-null  object
 6   TargetValue     969640 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 51.8+ MB

In [14]:
df.describe()

                  Id    Population         Weight    TargetValue
count  969640.000000  9.696400e+05  969640.000000  969640.000000
mean   484820.500000  2.720127e+06       0.530870      12.563518
std    279911.101846  3.477771e+07       0.451909     302.524795
min         1.000000  8.600000e+01       0.047491  -10034.000000
25%    242410.750000  1.213300e+04       0.096838       0.000000
50%    484820.500000  3.053100e+04       0.349413       0.000000
75%    727230.250000  1.056120e+05       0.968379       0.000000
max    969640.000000  1.395773e+09       2.239186   36163.000000

In [16]:
# df.isnull()
df.isnull().sum()

Id                0
Country_Region    0
Population        0
Weight            0
Date              0
Target            0
TargetValue       0
dtype: int64

In [8]:
df[df['Target'] == 'ConfirmedCases']

,Id,Country_Region,Population,Weight,Date,Target,TargetValue
0,1,Afghanistan,27657145,0.058359,2020-01-23,ConfirmedCases,0
2,3,Afghanistan,27657145,0.058359,2020-01-24,ConfirmedCases,0
4,5,Afghanistan,27657145,0.058359,2020-01-25,ConfirmedCases,0
6,7,Afghanistan,27657145,0.058359,2020-01-26,ConfirmedCases,0
8,9,Afghanistan,27657145,0.058359,2020-01-27,ConfirmedCases,0
...,...,...,...,...,...,...,...
969630,969631,Zimbabwe,14240168,0.060711,2020-06-06,ConfirmedCases,14
969632,969633,Zimbabwe,14240168,0.060711,2020-06-07,ConfirmedCases,3
969634,969635,Zimbabwe,14240168,0.060711,2020-06-08,ConfirmedCases,5
969636,969637,Zimbabwe,14240168,0.060711,2020-06-09,ConfirmedCases,27
969638,969639,Zimbabwe,14240168,0.060711,2020-06-10,ConfirmedCases,6

In [9]:
df[df['Target'] == 'ConfirmedCases']['Country_Region'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan*',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'West Bank and Gaza',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [10]:
confirmed_cases_df = df[df['Target'] == 'ConfirmedCases']
confirmed_cases_by_country = confirmed_cases_df.groupby('Country_Region')['TargetValue'].sum()

In [11]:
confirmed_cases_by_country

Country_Region
Afghanistan           22142
Albania                1341
Algeria               10484
Andorra                 852
Angola                  113
                      ...
West Bank and Gaza      485
Western Sahara            9
Yemen                   560
Zambia                 1200
Zimbabwe                320
Name: TargetValue, Length: 187, dtype: int64

In [12]:
country_with_high_cases = confirmed_cases_by_country.idxmax()
highest_confirmed_cases = confirmed_cases_by_country.max()
print(f"The country with the highest number of cases is {country_with_high_cases} with {highest_confirmed_cases} cases.")

The country with the highest number of cases is US with 5979962 cases.

In [30]:
df['Target'].unique()

array(['ConfirmedCases', 'Fatalities'], dtype=object)

In [18]:
death_data = df[df['Target'] == 'Fatalities']

In [19]:
death_data

,Id,Country_Region,Population,Weight,Date,Target,TargetValue
1,2,Afghanistan,27657145,0.583587,2020-01-23,Fatalities,0
3,4,Afghanistan,27657145,0.583587,2020-01-24,Fatalities,0
5,6,Afghanistan,27657145,0.583587,2020-01-25,Fatalities,0
7,8,Afghanistan,27657145,0.583587,2020-01-26,Fatalities,0
9,10,Afghanistan,27657145,0.583587,2020-01-27,Fatalities,0
...,...,...,...,...,...,...,...
969631,969632,Zimbabwe,14240168,0.607106,2020-06-06,Fatalities,0
969633,969634,Zimbabwe,14240168,0.607106,2020-06-07,Fatalities,0
969635,969636,Zimbabwe,14240168,0.607106,2020-06-08,Fatalities,0
969637,969638,Zimbabwe,14240168,0.607106,2020-06-09,Fatalities,0
969639,969640,Zimbabwe,14240168,0.607106,2020-06-10,Fatalities,0

In [20]:
deaths_by_country = df.groupby('Country_Region')['TargetValue'].sum()

In [21]:
deaths_by_country

Country_Region
Afghanistan           22547
Albania                1375
Algeria               11216
Andorra                 903
Angola                  117
                      ...
West Bank and Gaza      488
Western Sahara           10
Yemen                   689
Zambia                 1210
Zimbabwe                324
Name: TargetValue, Length: 187, dtype: int64

In [24]:
country_with_highest_deaths = deaths_by_country.idxmax()
country_with_highest_deaths

'US'

In [25]:
highest_deaths_count = deaths_by_country.max()
highest_deaths_count

6317214

In [29]:
print(f'Country with highest death count is \'{country_with_highest_deaths}\' with \'{highest_deaths_count}\' deaths count')

Country with highest death count is 'US' with '6317214' deaths count

Can't Calculate the Recovered Cases, the target column has only Confirmed CAses and Fatalities (Serious)